/*

  1. >>> Headr Style
  2. >>> Banner Style
  3. >>> Resume Style
  4. >>> Project Style
  5. >>> Testimonials Style
  6. >>> Email Style
  7. >>> Footer Style

*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------*/
:root {
	--font_14:0.875rem;
	--font_16:1rem;
	--font_30:1.875rem;
	--font_36:2.25rem;
	--font_48:3rem;
	--40:2.5rem;
	--30:1.875rem;
	--margin_30:1.875rem;
	--margin-54:3.375rem;
	--margin-60:3.75rem;
	--margin-100:6.25rem;
	--margin-120:7.5rem;   
}
html {font-family: 'Poppins', sans-serif;background-color:#FFFFFF; user-select: auto;}
/* Old background color was #2A2A2A */
/* IBM Plex Serif or EB Garamond work well */
body {font-family: 'EB Garamond', serif; overflow-x: hidden; background-color:#FFFFFF; 
	font-weight: 425; font-style: normal; color: #1C1C1C; font-size: var(--font_14); user-select:auto;}
a,a:hover,a:focus,i,input,button,input:focus,.transition {text-decoration: none;outline: none;transition-delay: 0s;transition-duration: 0.4s;transition-property: all;transition-timing-function: ease;box-shadow: none;}
a{color: #000}
iframe {border: 0;outline: none;}
::-moz-selection {background: var(--red);text-shadow: none;color:var(--white)}
::selection {background:var(--red);text-shadow: none;color:var(--white)}
::-webkit-scrollbar {background: transparent; width: 5px}
::-webkit-scrollbar-thumb{background: #4F2683; border-radius: 5px}
::-webkit-scrollbar-thumb:hover{background: #000; background: var(--background)}
img {max-width: 100%;border: none;outline: none;height: auto;}
input,textarea {border-radius: 0;resize: none;}
ul {padding: 0;margin: 0;}
@font-face {
font-family: 'DM Serif Display', serif;
font-family: 'Poppins', sans-serif;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color: transparent;background-image: none;color:#000;}
/* 1.2 Typography */
h1,h2,h3,h4,h5,h6 {font-family: 'Poppins', sans-serif; user-select: auto;}
figure{ margin: 0 }
svg,img { max-width: 100%; height: auto; }
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes animatetop{from{margin-top:300%;opacity:0} to{margin-top:0%;opacity:1}}

/* Custom UW icon */
.uwlogo {
  display: inline-block;
  width: 1em;               /* scale with font size */
  height: 1em;
  background-color: currentColor; /* use text color */
  -webkit-mask: url("../images/W-Logo_Purple_vector.svg") no-repeat center;
  -webkit-mask-size: contain;
  mask: url("../images/W-Logo_Purple_vector.svg") no-repeat center;
  mask-size: contain;
}

/*-----------------------------------------------------------------
  1. >>> Headr Style
----------------------------------------------------------------*/
.ds-header{ padding-top:2.0rem; padding-bottom: 3.4125rem; position: relative;}
.ds-logo a{ display: inline-block; background-color: #FFFFFF; font-family: 'Poppins'; font-weight: 450; font-size: 2.125rem; padding: 0  1.4375rem; color: #4F2683;}
.ds-logo a::selection{color: #FFFFFF; background-color: #0074ffcc}
.ds-logo a:hover{ background-color: #4F2683; color: #FFFFFF }
/* .ds-logo a:focus{color: #000} */
/*-----------------------------------------------------------------
  2. >>> Banner Style
----------------------------------------------------------------*/
.ds-banner{ margin-bottom: 5.0rem; user-select: auto;}/* user-select: ‘none’ } */
.ds-banner-hed{font-family:'DM Serif Display'; font-size: 4.0rem; line-height:7rem; margin-top: 0.5rem; animation: fadeIn 1.5s; user-select: auto;}/* user-select: ‘none’ } */
.ds-banner-hed::selection{color: white; background-color: #0074ffcc}
.ds-image-shadow{box-shadow:20px 20px #8F55E0; animation: animatetop 1.5s}
.ds-banner h3{font-family:'Poppins'; font-weight: light; color:#5C5C5C; font-size: 1.65rem; line-height: 3.875rem }
.ds-banner p{ color:#1c1c1c; font-size: 1.35rem; line-height: 2.0rem }
.ds-banner p a{color:dodgerblue; -o-transition: .25s; -ms-transition: .25s; -moz-transition: .25s; -webkit-transition: .25s; transition: .25s;}
.ds-banner p a:hover{color: #373A9F;}
/* old colour #9C9C9C */
/*.ds-banner-left{display: flex; justify-content: space-between; flex-direction: column;}*/

.ds-social-link{ list-style: none; display: flex; align-items: center; margin-top: 3.0rem; animation: fadeIn 2.0s}
.ds-social-link li{ margin-right: 15px }
.ds-social-link li:alst-child{ margin-right: 0 }
.ds-social-link a{ width: 75px; height: 75px; background-color: #FFFFFF; border-radius: 100%; text-align: center; display: flex; justify-content: center; 
	align-items: center; font-size:2.5rem; color:#4F2683 }
.ds-social-link li:hover a{background-color: #4F2683; color: #FFFFFF }

.ds-banner figure{width: 500px; position: relative; padding-bottom:1.125rem; padding-left: 3.00rem}
.ds-banner figure:hover img.ds-image-shadow{box-shadow:-20px -20px #8F55E0;}
.ds-banner figure figcaption{ color: #1C1C1C; font-size: 1.3rem; position: relative; bottom: 0; width: 100%; text-align: center; padding-top:2.25rem  }
/*-----------------------------------------------------------------
  3. >>> Resume Style
----------------------------------------------------------------*/
.ds-resume-section{ background-color: #000; padding: 7.5rem 0 }
.ds-resume-section h2{ font-size: 2.5rem; line-height: 3.375rem; width: 100%;max-width: 80%;margin: 0 }
.ds-resume-section p{ color:#9C9C9C; font-size: 1rem; line-height: 1.875rem }
.ds-download-button{ display: inline-block; color: #4F2683; border: 1px solid #4F2683; letter-spacing: 3px; text-transform: uppercase; font-size: 0.75rem; padding:0.875rem 1.25rem; margin-top: 30px  }
.ds-download-button i{ font-size:1.125rem; vertical-align: middle;  }
.ds-download-button:hover{ color: #000; background-color:#4F2683  }
/*-----------------------------------------------------------------
  4. >>> Projects Style
----------------------------------------------------------------*/
.ds-projects-section{margin-bottom: 1.5rem; padding: 1.5rem 0 }
.ds-projects-section h2{ font-size: 3.25rem; line-height: 3.375rem; width:auto; max-width:100%; margin: 0}
.ds-projects-section h2 span{ display: block; font-family: 'Poppins', sans-serif; text-transform: uppercase; color: #4F2683; 
	font-weight: 600; letter-spacing: 3px; font-size: 0.75rem; margin-bottom: 0.625rem}
.ds-projects-section p{margin-top: 0.8rem; font-family: 'EB Garamond'; font-weight: auto; font-size: 1.35rem; line-height: 2.1rem; color:#000000; text-transform: none}
.ds-projects-section p a{color: dodgerblue; -o-transition: .25s; -ms-transition: .25s; -moz-transition: .25s; -webkit-transition: .25s; transition: .25s;}
.ds-projects-section p a:hover{ color:#136ABE }
.ds-projects-section figure{width: 38.0rem; position: relative; margin-left: 0px; padding-top: 2.0rem;}
.ds-projects-section figure figcaption{ color: #1C1C1C; font-size: 1.1rem; position: relative; bottom: 0; width: 100%; text-align: center; padding-top:0.5rem  }
.ds-projects-section figure a{color: dodgerblue; -o-transition: .25s; -ms-transition: .25s; -moz-transition: .25s; -webkit-transition: .25s; transition: .25s;}
.ds-projects-section figure a:hover{ color:#136ABE}
.ds-projects-listing-section{ margin-top: 3rem}
.ds-projects-loop figure{ margin-right: 60px; position: relative; }
.ds-projects-loop:hover figure img.ds-image-shadow{box-shadow:20px 20px #8F55E0;}

/* .ds-link-button{position: relative; width: 3.75rem; height: 3.75rem; border-radius: 3px; 
	background-color: #FFFFFF; display: inline-block; justify-content: left; align-items: left; color: #4F2683; font-size: 1.125rem; text-align: left; opacity: 1} */
.ds-link-button li{list-style-type: none; margin-right: 15px; color:#4F2683}
.ds-link-button li:alst-child{ margin-right: 0 }
/* .ds-link-button a{ width: 60px; height: 60px; background-color: #4F2683; border-radius: 100%; text-align: left; display: flex; justify-content: left; 
	align-items: center; font-size:2.5rem; color:#FFFFFF } */
.ds-link-button a{color:dodgerblue}
/* old colour 8F55E0 */
.ds-link-button li:hover a{background-color: #136ABE; color: #FFFFFF; font-size: 1.75rem;}
.ds-projects-loop:hover .ds-link-button{ opacity: 1 }
.ds-projects-loop section{ margin-top: 2.875rem }
.ds-projects-loop section span{width: auto; font-size: 1.65rem; font-weight: 500; color:#000000; }
.ds-projects-loop section h3{font-weight: 250; font-size: 1.25rem; color:#000000; text-transform: none}

/*-----------------------------------------------------------------
  5. >>> Testimonials Style
----------------------------------------------------------------*/
.ds-testimonials-section{ background-color: #000;padding: 7.5rem 0 }
.ds-testimonials-section h2 span{ display: block; font-family: 'Poppins', sans-serif; text-transform: uppercase; color: #4F2683; font-weight: 600; letter-spacing: 3px; font-size: 0.75rem; margin-bottom:2.5rem}

.ds-testimonials-loop article{ color: #9C9C9C; font-size: 2rem; line-height: 2.8125rem }
.ds-testimonials-loop section{ margin-top: 3.75rem }
.ds-testimonials-loop section span{ display: block; font-size: 1rem; line-height: 1.375rem }
.ds-testimonials-loop section span.ds-name{ font-weight: 600 }
.ds-testimonials-slider .slick-arrow{ display: inline-block; outline: none; cursor: pointer; font-size:1.5rem; line-height:3.75rem; text-align: center; 
	 border: 1px solid #575757; padding: 0; width: 3.75rem; height: 3.75rem; border-radius: 100%; background-color:#000; color: #575757; position: absolute; bottom: 0; right: 0; z-index: 2 }
.ds-testimonials-slider .slick-arrow:hover{ color: #4F2683; border-color: #4F2683 }
.ds-testimonials-slider .slick-arrow.slick-prev{ right: 4.375rem }
/*-----------------------------------------------------------------
  6. >>> Email Style
----------------------------------------------------------------*/
.ds-email-section{padding: 7.5rem 0; background-color: #4F2683; text-align: center;}
.ds-email-section h2{ font-size: 3.75rem;color: #000; margin-bottom: 1.875rem }
.ds-email-section a{ font-size:1.25rem; font-weight: 500; text-decoration: underline;  }
.ds-email-section a:hover{ color: #000; text-decoration: none; }
/*-----------------------------------------------------------------
  7. >>> Footer Style
----------------------------------------------------------------*/
.ds-footer{background-color: #1A1A1A; padding: 1.5rem 0; text-align: center; color: #CECECE; font-family: 'DM Serif'; 
	font-size: 1.25rem; box-shadow: 0 50vh 0 50vh #000}
.ds-footer a::selection{color: #7DEAFB; background-color: #0074ffcc}
/* .ds-footer a:hover{color: #7DEAFB; text-decoration: underline; text-decoration-thickness: auto;} */
.ds-footer a{color:#7DEAFB; -o-transition: .25s; -ms-transition: .25s; -moz-transition: .25s; -webkit-transition: .25s; transition: .25s;}
.ds-footer a:hover{color: #48a0f7}

/* .ds-link-button a{color:dodgerblue}
/* old colour 8F55E0 */
.ds-link-button li:hover a{background-color: #136ABE; color: #FFFFFF; font-size: 1.75rem;} */
.ds-footer span::selection{color: white; background-color: #0074ffcc}

/* Copied from the header section but changed for footer */
.ds-footer ul.ds-social-link{padding: 0; margin-top: 0rem; position: relative; list-style: none; display: flex; justify-content: center; text-align: center; align-items: center; 
 animation: none;}
.ds-footer ul.ds-social-link li{ margin-right: 0.5rem; align-items: center; display: inline-block;}
.ds-footer ul.ds-social-link li:alst-child{ margin-right: 0 }
.ds-footer ul.ds-social-link a{ width: 3rem; height: 3rem; background-color: #1A1A1A; border-radius: 100%; text-align: center; justify-content: center; 
	align-items: center; font-size: 1.5rem; color:#7DEAFB }
.ds-footer ul.ds-social-link li:hover a{background-color: #7DEAFB; color: #1A1A1A; text-decoration: none;}
/*-----------------------------------------------------------------
  8. >>> 404 Style
----------------------------------------------------------------*/
.ds-404 {display: inline-block; background-color: #FFFFFF; color: #4F2683; font-weight: 600; font-family: 'Poppins', sans-serif; text-align: center; padding: 0 0.4375rem; font-size: 3.75rem; width: 100%; margin: auto; margin-top: 8rem; margin-bottom: 4rem}

/*-------------------------------------------------------------------------------
 XS Style @media (max-width: 767px) 
-------------------------------------------------------------------------------*/
@media (max-width: 767px) {
	.ds-header {padding-top: 2.0rem;padding-bottom:1.0rem;}
	.ds-banner-hed {font-size: 2.3125rem;line-height: 3rem;}
	.ds-banner .container{ position: relative; padding-bottom: 90px }
	.ds-social-link{ position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); }
	.ds-banner figure{ width: 75%; margin: 0 auto; margin-top: 40px }
	.ds-image-shadow {box-shadow:20px 20px #4F2683;}
	.ds-banner {margin-bottom: 3.5rem;}
	.ds-resume-section,.ds-projects-section,.ds-testimonials-section,.ds-email-section{ padding: 3.5rem 0 }
	.ds-resume-section h2,.ds-projects-section h2{ max-width: 100% }
	.ds-projects-section h2 span{ margin-bottom: 0 }
	.ds-projects-listing-section {margin-top: 3rem;}
	.ds-projects-loop section{margin-top: 2.875rem;}
	.ds-projects-loop figure{ margin-right: 20px }
	.ds-projects-loop{margin-bottom: 3.5rem;}
	.ds-projects-loop:last-child{ margin-bottom: 0 }
	.ds-testimonials-loop article{ font-size:1rem; line-height: 2rem  }
	.ds-email-section h2{ font-size: 2rem }
	.ds-testimonials-slider .slick-arrow{width: 2.75rem;height: 2.75rem;line-height: 2.75rem;}
}


@media (min-width: 768px) and (max-width: 991px) {
.ds-header{padding-bottom: 1.225rem;}
.ds-banner-hed{font-size: 3.3125rem;line-height: 4rem;}
.ds-banner figure{ margin-right: 2.875rem }
.ds-projects-section h2{ max-width: 60% }
.ds-projects-loop figure{ margin-right: 40px }
}

@media (min-width: 992px) and (max-width: 1199px) {
.ds-banner figure{ margin-right: 1.875rem }

}
